{namespace BF.gadget.template}

/**
 * Renders a single session on the session navigator page
 * @param session
 * @param contextPath
 */
{template .drawSingleSession}
	<dd>
	    <div class="bf-table">
	        <p class="bf-row-content">
                <img class="bf-web-panel-icon" height="16" width="16" src="{$session.userAvatarSrc}">
                <a class="bf-row-text" href="{$contextPath}{$session.url}">{$session.name}</a>
	        </p>
	        <div class="bf-inline-status-background">
		        <div class="bf-inline-status">
			        {let $lozenge}
						{if $session.prettyStatus == 'Completed'}
							aui-lozenge-success
						{elseif $session.prettyStatus == 'Paused'}
							aui-lozenge-moved
						{elseif $session.prettyStatus == 'Started'}
							aui-lozenge-current
						{elseif $session.prettyStatus == 'Created'}
							aui-lozenge-complete
						{/if}
					{/let}
		            <span class="bf-inline-loz aui-lozenge {$lozenge}">
		                {$session.prettyStatus}
		            </span>
		        </div>
	        </div>
	    </div>
    </dd>
{/template}
/**
 * Renders the footer of the gadget
 * @param numDisplayed
 * @param numMatched
 * @param sessionURL
 */
{template .drawGadgetFooter}
	<div class="bf-gadget-footer">
		Displaying 1 - {$numDisplayed} of <a href="{$sessionURL}"><strong>{$numMatched}</strong> matching test sessions</a>
	</div>
{/template}

/**
 * Renders a single session on the session navigator page
 */
{template .drawEmptyState}
	<div class="bf-gadget-empty">
		<div class="aui-message warning shadowed">
			<span class="aui-icon icon-warning"></span> {getText('bonfire.gadget.sessions.empty.state')}
		</div>
	</div>
{/template}