<html>
<head>
    <content tag="section">bonfire_top_menu_dropdown</content>
    <title>$i18n.getText('bonfire.top.menu.gettingstarted.title')</title>
</head>
    <body>
        <div class="bf-main-container">
            <div id="capture-getting-started-main" class="bf-main-content">
                <div class="bf-getting-started-heading">
                    <h2 class="capture-product-name">Capture for JIRA</h2><span class="capture-getting-started">Getting Started</span>
                </div>
                <p id="capture-getting-started-message" class="bf-getting-started-description">$i18n.getText('bonfire.gettingstarted.long.description')</p>
                <div class="bf-newspaper-container">
                    <div class="bf-newspaper-setep bf-newspaper-one">
                        <div class="bf-newspaper-caption">$i18n.getText('bonfire.gettingstarted.one.caption')</div>
                        <a class="bf-newspaper-link" href="https://confluence.atlassian.com/display/BONFIRE/Working+with+Sessions">$i18n.getText('bonfire.gettingstarted.one.link')</a>
                    </div>
                    <div class="bf-newspaper-setep bf-newspaper-two">
                        <div class="bf-newspaper-caption">$i18n.getText('bonfire.gettingstarted.two.caption')</div>
                        <a class="bf-newspaper-link" href="$requestContext.baseUrl/secure/GetBonfire.jspa" data-analytic="GetBonfire.jspa">$i18n.getText('bonfire.gettingstarted.two.link')</a>
                    </div>
                    <div class="bf-newspaper-setep bf-newspaper-three">
                        <div class="bf-newspaper-caption">$i18n.getText('bonfire.gettingstarted.three.caption')</div>
                        <a class="bf-newspaper-link" href="https://confluence.atlassian.com/display/BONFIRE/Taking+screenshots">$i18n.getText('bonfire.gettingstarted.three.link')</a>
                    </div>
                    <div class="bf-newspaper-setep bf-newspaper-four">
                        <div class="bf-newspaper-caption">$i18n.getText('bonfire.gettingstarted.four.caption')</div>
                        <a class="bf-newspaper-link" href="https://confluence.atlassian.com/display/BONFIRE/Templates+and+Variables">$i18n.getText('bonfire.gettingstarted.four.link')</a>
                    </div>
                </div>
##                <div class="bf-latest-container">
##                    <div class="bf-getting-started-video">
##                        <div class="bf-video-heading">$i18n.getText('bonfire.gettingstarted.bluebox.heading')</div>
##                        <iframe width="480" height="270" src="http://www.atlassian.com/software/bonfire/videos/products-overview.html" frameborder="0" allowfullscreen=""></iframe>
##                    </div>
##                    <div class="bf-latest-text">
##                        <div class="bf-latest-heading">$i18n.getText('bonfire.gettingstarted.additionalresources.heading')</div>
##                        <p class="bf-latest-data"><a href="https://confluence.atlassian.com/display/BONFIRE/Bonfire+Release+Notes">$i18n.getText('bonfire.gettingstarted.additionalresources.releasenotes')</a></p>
##                        <p class="bf-latest-data"><a href="https://answers.atlassian.com/tags/bonfire/">$i18n.getText('bonfire.gettingstarted.additionalresources.answers')</a></p>
##                        <p class="bf-latest-data"><a href="http://blogs.atlassian.com/blog-cat/bonfire/">$i18n.getText('bonfire.gettingstarted.additionalresources.blogs')</a></p>
##                    </div>
##                </div>
            </div>
        </div>
    </body>
</html>