## Copied straight from a JIRA soy template
<form id="bonfire-invite-form" action="#" method="post" class="aui share-content-popup">
    <fieldset>
        <label for="sharenames-multi-select">$i18n.getText('jira-share-plugin.dialog.form.who')</label>
        <div class="autocomplete-user-target">
            <select id="sharenames" name="sharenames" class="share-user-picker hidden" multiple="multiple"></select>
        </div>
        <ol class="recipients">
        </ol>
        <div><label for="note">$i18n.getText('jira-share-plugin.dialog.form.note')</label></div>
        <textarea class="textarea" id="note" placeholder="$i18n.getText('jira-share-plugin.dialog.form.note.placeholder')"></textarea>
    </fieldset>
    <div class="button-panel">
        <div class="icon"></div>
        <div class="progress-messages">
        </div>
        <input class="button submit" type="submit" value="$i18n.getText('jira-share-plugin.dialog.form.share')" disabled/>
        <a class="close-dialog">$i18n.getText('jira-share-plugin.dialog.form.cancel')</a>
    </div>
</form>
## Hacky hidden input to replace a meta tag that won't exist on the sessions page
<input id="bonfire-default-avatar-url" type="hidden" value="$action.defaultAvatar" />
