plugin/bin
plugin-jira5/bin
plugin/target
bonfire-jira-rest-ext/target
.classpath
.project
plugin/.settings
bonfire-jira-rest-ext/.settings
browser/build/build
browser/build/ff_update.rdf
browser/build/bonfire.crx
browser/build/bonfire.*.xpi
browser/build/build/chrome
browser/build/build/chrome/bonfire.jar
browser/build/bonfire.*.safariext
browser/build/safari_update.plist
plugin/@project-dir@
*~
*.iml
*.ipr
*.iws
browser/build/*.crx
browser/build/*.xpi
.idea/
target/
hotspot.log
browser/extension-core/src/main/resources/extension.properties
plugin/src/main/resources/build/build.properties
.DS_Store
org.eclipse.jdt.core.prefs
third-party-licensing/bom.csv
third-party-licensing/licenses/
*.versionsBackup
pom.xml.orig
*.hprof
*.pyc
chromedriver.log
node_modules/
*debuglog.txt
*.db
*.patch
capture/**
capture/log/**