<div class="module toggle-wrap admin-summary-webpanel expanded twixi-block">
    <div class="mod-header twixi-trigger">
        <h3 class="toggle-title">$i18n.getText('admin.content.license.details.title')</h3>
    </div>
    <div class="twixi-content bonfire-license-container">
        #if(!$action.licenseInfo.activated)
            <div class="aui-message warning shadowed">
                <span class="aui-icon icon-warning"></span>
                #if(!$action.licenseInfo.expired)
                    <p>$i18n.getText('admin.content.unactivated')</p>
                #else
                    <p>$i18n.getText('admin.content.expired')</p>
                #end
            </div>
        #else
            <p class="bonfire-admin-pre-table-text">$i18n.getText('admin.content.license.details.intro')</p>
            <table class="bonfire-admin-table">
                <tbody>
                    #if ($action.licenseInfo.maintenanceExpiry)
                        <tr>
                            <td class="bonfire-table-label">$i18n.getText('admin.content.license.details.maintenance')</td>
                            <td class="bonfire-table-value">$action.licenseInfo.maintenanceExpiry</td>
                        </tr>
                    #end
                    #if ($action.licenseInfo.daysTilExpiry)
                        <tr>
                            <td class="bonfire-table-label">$i18n.getText('admin.content.license.details.remaining')</td>
                            <td class="bonfire-table-value">$action.licenseInfo.daysTilExpiry</td>
                        </tr>
                    #end
                    <tr>
                        <td class="bonfire-table-label">$i18n.getText('admin.content.license.details.organisation')</td>
                        <td class="bonfire-table-value">$textutils.htmlEncode($action.licenseInfo.organisationName)</td>
                    </tr>
                    <tr>
                        <td class="bonfire-table-label">$i18n.getText('admin.content.license.details.purchased')</td>
                        <td class="bonfire-table-value">$action.licenseInfo.datePurchased</td>
                    </tr>
                    <tr>
                        <td class="bonfire-table-label">$i18n.getText('admin.content.license.details.type')</td>
                        <td class="bonfire-table-value">$action.htmlEncode($action.licenseInfo.licenseType)</td>
                    </tr>
                    <tr>
                        <td class="bonfire-table-label">$i18n.getText('admin.content.license.details.user')</td>
                        <td class="bonfire-table-value">
                            #if ($action.licenseInfo.unlimitedNumberOfUsers)
                                $i18n.getText('admin.content.license.details.user.unlimited')
                            #else
                                $action.licenseInfo.maximumNumberOfUsers
                            #end
                        </td>
                    </tr>
                    <tr>
                        <td class="bonfire-table-label">$i18n.getText('admin.content.license.details.sen')</td>
                        <td class="bonfire-table-value">
                            #if($action.licenseInfo.supportEntitlementNumber)
                                $action.licenseInfo.supportEntitlementNumber 
                            #else 
                                $i18n.getText('admin.content.license.details.sen.none')
                            #end
                        </td>
                    </tr>
                <tbody>
            </table>
        #end
    </div>
</div>