{namespace BF.template}

/**
 * Renders the callout message
 */
{template .drawCallout}
    <div class="bf-callout-content">
    	<span><strong>{getText('bonfire.session.callout.welcome')}</strong></span>
    	<p>{getText('bonfire.session.callout.message')}</p>
    	<div class="bf-callout-cross"></div>
	</div>
{/template}