#* @implicitly included *#
#* @vtlvariable name="fatNote" type="com.atlassian.excalibur.view.FatNoteUI" *#
#* @vtlvariable name="pagerTool" type="com.atlassian.excalibur.view.PagerTool" *#
#* @vtlvariable name="session" type="com.atlassian.excalibur.view.SessionUI" *#

#* @vtlvariable name="textUtils" type="com.opensymphony.util.TextUtils" *#
#* @vtlvariable name="i18n" type="com.atlassian.jira.util.I18nHelper" *#
#* @vtlvariable name="textutils" type="com.opensymphony.util.TextUtils" *#
#* @vtlvariable name="requestContext" type="com.atlassian.jira.util.velocity.VelocityRequestContext" *#


#* @velocityproperties path="velocity.properties" runtime_root="../resources" *#

#* @vtlvariable name="action" type="com.atlassian.excalibur.web.ExcaliburWebActionSupport" *#

