#if($item.thumbnail)
    <p class="bf-activity-text">$i18n.getText('session.stream.attachscreenshot')</p>
#else
    <p class="bf-activity-text">$i18n.getText('session.stream.attachfile')</p>
#end
#parse("/templates/bonfire/web/stream/icon.vm")
#if($item.parentIssue)
    <a href="$requestContext.baseUrl/browse/$item.parentIssue.key">$item.parentIssue.key</a> /
#end
<a href="$requestContext.baseUrl/browse/$item.issue.key"> $item.issue.key </a> - $textutils.htmlEncode($item.getSummary())
<div class="bf-aui-group bf-activity-screenshot">
    <a #if($item.thumbnail) class="bf-gallery" #end href="$requestContext.baseUrl/secure/attachment/$item.attachment.id/$textutils.htmlEncode($item.attachmentFilename)" title="$textutils.htmlEncode($item.attachmentFilename)">
        #if($item.thumbnail)
            <img src="$requestContext.baseUrl/secure/thumbnail/$item.attachment.id/$item.attachment.getId()_$textutils.htmlEncode($item.attachmentFilename)">
        #else
            <img src="$requestContext.baseUrl/images/icons/attach/${action.util.getFileIconName($item.attachment)}"> $textutils.htmlEncode($item.attachmentFilename)
        #end
    </a>
</div>
<div class="bf-aui-group bf-activity-time">
    $action.formatWithUserTimeZone($item.time)
</div>
