<ul class="property-list">
    <li class="bf-raised-in-row">
        <div class="wrap bf-wrap">
            <span title="Testing status" class="name">$testingStatusField:</span>
            <div class="bf-testing-status">
                <div class="bf-testing-status-top">
                    <table class="bf-table-no-border">
                        <tbody><tr>
                            <td class="bf-testing-status-cell">
                                <strong>$textutils.htmlEncode($testingStatus)</strong>
                            </td>
                            #if ($hasRelatedTo)
                                <td class="bf-testing-status-bar-cell">
                                    <table class="bf-test-status-table">
                                        <tbody><tr>
                                        #if ($testingBar.getNotstartedPercent() != 0)
                                            <td class="bf-test-status-bar bf-status-one" 
                                                style="width: $testingBar.getNotstartedPercent()%" 
                                                title="$testingBar.getNotstartedPercent()%"></td>
                                        #end
                                        #if ($testingBar.getInprogressPercent() != 0)
                                            <td class="bf-test-status-bar bf-status-two" 
                                                style="width: $testingBar.getInprogressPercent()%"
                                                title="$testingBar.getInprogressPercent()%"></td>
                                        #end
                                        #if ($testingBar.getCompletePercent() != 0)
                                            <td class="bf-test-status-bar bf-status-three" 
                                                style="width: $testingBar.getCompletePercent()%"
                                                title="$testingBar.getCompletePercent()%"></td>
                                        #end                
                                        </tr></tbody>
                                    </table>
                                </td>
                                <td class="bf-completed-count-cell">
                                    <span class="bf-testing-label">$testingBar.completeCount/$testingBar.totalCount Completed</span>
                                </td>
                            #end
                        </tr></tbody>
                    </table>
                </div>
                <div></div>
            </div>
        </div>
    </li>
    #if($hasRaisedIn)
        <li #if($hasContext || $hasRelatedTo) class="bf-raised-in-row" #end>
            <div class="wrap">
                <span title="Raised in test session" class="name" style="padding-top:5px;">$raisedInField:</span>
                <dl style="margin:0;">
                    <dd>
                        <div class="bf-table">
                            <p class="session-cf-value bf-single-session-row">
                                <span>
                                    <a href="$baseurl$raisedIn.sessionUrl">$textutils.htmlEncode($raisedIn.sessionName)</a>
                                </span>
                            </p>
                            <div class="bf-inline-actions">
                                <div class="bf-inline-details-button">
                                    <span class="bf-view-session-button bf-info-icon" data-session-id="$raisedIn.sessionId" title="$i18n.getText("session.links.details.title")" ></span>
                                </div><div class="bf-more-button">##no new line coz we are inline-block
                                    <a class="bf-more-trigger bf-cog-icon" href="#" title="$i18n.getText("session.links.more.title")">
                                        <span class="bf-menu-arrow"></span>
                                    </a>
                                    <div class="aui-list hidden">
                                        <ul class="aui-list-section aui-last aui-first">
                                            #if($canUnraiseInSession)
                                                <li class="aui-list-item">
                                                    <a class="bf-delete-raised-in aui-list-item-link" href="$baseurl/rest/bonfire/1.0/sessions/$raisedIn.sessionId/raisedin/$issue.key">$i18n.getText('bonfire.webpanel.menu.button.remove')</a>
                                                </li>
                                            #end
                                            <li class="aui-list-item">
                                                <a href="$baseurl/secure/ViewSession.jspa?testSessionId=$raisedIn.sessionId" class="aui-list-item-link">$i18n.getText('greenfire.menu.button.goto')</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </li>
    #end
    #if($hasContext)
        <li #if($hasRelatedTo) class="bf-raised-in-row" #end>
            <div class="bf-table">
                <h3>$i18n.getText("bonfire.context.heading")</h3>
                #if($hasbfURL)
                    <div class="wrap bf-context-cell full-width">
                        <span class="name">$i18n.getText("bonfire.context.url"):</span>
                        <div class="session-cf-value bf-icon-context bf-twixy">
                            ## URL rendered using wiki markup
                            $bfURLHtml
                        </div>
                    </div>
                #end
                <div class="bf-row">
                    #if($hasbfBrowser)
                        <div class="bf-cell wrap bf-context-cell">
                            <span class="name">$i18n.getText("bonfire.context.browser"):</span>
                            <div class="session-cf-value bf-icon-context bf-browser-$browserIcon">
                                $textutils.htmlEncode($bfBrowser)
                            </div>
                        </div>
                    #end
                    #if($hasbfScreenRes)
                        <div class="bf-cell wrap bf-context-cell bf-context-rhs">
                            <span class="name">$i18n.getText("bonfire.context.screenres"):</span>
                            <div class="session-cf-value">
                                $textutils.htmlEncode($bfScreenRes)
                            </div>
                        </div>
                    #end
                </div>
                <div class="bf-row">
                    #if($hasbfOS)
                        <div class="bf-cell wrap bf-context-cell">
                            <span class="name">$i18n.getText("bonfire.context.os"):</span>
                            <div class="session-cf-value bf-icon-context bf-os-$osIcon">
                                $textutils.htmlEncode($bfOS)
                            </div>
                        </div>
                    #end
                    #if($hasbfjQueryVersion)
                        <div class="bf-cell wrap bf-context-cell bf-context-rhs">
                            <span class="name">$i18n.getText("bonfire.context.jqueryversion"):</span>
                            <div class="session-cf-value">
                                $textutils.htmlEncode($bfjQueryVersion)
                            </div>
                        </div>
                    #end
                </div>
                #if($hasbfDocumentMode)
                    <div class="bf-row">
                        <div class="bf-cell wrap bf-context-cell">
                            <span class="name">$i18n.getText("bonfire.context.documentmode"):</span>
                            <div class="session-cf-value">
                                $textutils.htmlEncode($bfDocumentMode)
                            </div>
                        </div>
                    </div>
                #end
                #if($hasbfUserAgent)
                    <div class="wrap bf-context-cell full-width">
                        <span class="name">$i18n.getText("bonfire.context.useragent"):</span>
                        <div class="session-cf-value bf-icon-context bf-twixy">
                            $textutils.htmlEncode($bfUserAgent)
                        </div>
                    </div>
                #end
            </div>
        </li>
    #end
    #if($hasRelatedTo)
        <li>
            <div class="wrap">
                <span title="Test session(s)" class="name" style="padding-top:5px;">$relatedInField:</span>
                <dl style="margin:0;">
                    #foreach($session in $relatedTo)
                        <dd>
                            <div class="bf-table #if($relatedTo.size() > 1) bf-session-underline #end">
                                <p class="session-cf-value bf-single-session-row">
                                    <a class="bf-no-decoration user-hover" href="$baseurl/secure/ViewProfile.jspa?name=$textutils.htmlEncode($session.userName)" rel="$textutils.htmlEncode($session.userName)">
                                        <img class="bf-web-panel-icon" height="16" width="16" src="$session.iconUrl">
                                    </a>
                                    <span>
                                        <a href="$baseurl$session.sessionUrl">$textutils.htmlEncode($session.sessionName)</a>
                                    </span>
                                </p>
                                <div class="bf-inline-status">
                                    <div class="bf-inline-loz $session.status">
                                        $session.status
                                    </div>
                                </div>
                                <div class="bf-inline-actions">
                                    <div class="bf-inline-details-button">
                                        <span class="bf-view-session-button bf-info-icon" data-session-id="$session.sessionId" title="$i18n.getText("session.links.details.title")" ></span>
                                    </div><div class="bf-more-button">##no new line coz we are inline-block
                                        <a class="bf-more-trigger bf-cog-icon" href="#" title="$i18n.getText("session.links.more.title")">
                                            <span class="bf-menu-arrow"></span>
                                        </a>
                                        #parse("templates/bonfire/web/greenfire/greenfire-session-menu.vm")
                                    </div>
                                </div>
                            </div>
                        </dd>
                    #end
                </dl>
            </div>
        </li>
    #end
</ul>