.aui-theme-default #content {  /* JIRA 5.0 */
    padding: 0;
}
.nl #main-content,    /* JIRA 4.4 */
.content-container {  /* JIRA 5.0 */
    background-color: #f0f7fc;
    padding: 0;
}
.bf-gs-section {
    max-width: 95%;
    margin: 0 auto;
    overflow: hidden;
    padding: 45px 0 30px 0;
}

.bf-gs-logo-container {
    padding-bottom: 16px;
}

h2.zephyr-product-name {
    color: #205081;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
h3,                      /* JIRA 4.4 */
.aui-theme-default h3 {  /* JIRA 5.0 */
    color: #0090cc;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
p {
    color: #666;
    margin-top: 1em;
}
.aui-message p {
    color: #333;
}

.bf-gs-content {
    background-color: #fff;
    border: 1px solid #d9e7f3;
    border-radius: 0.4em;
    padding: 22px 32px 32px 32px;
}
.bf-gs-feature-image {
    float: right;
    width: 288px;
}
.bf-gs-example {
    margin-top: 1em;
    text-align: center;
}
.bf-gs-download {
    margin-top: 45px;
}
.bf-gs-download-btn {
    background: url(../images/gettingstarted/download-btn-icons.png) no-repeat 0 0;
    display: inline-block;
    height: 80px;
    padding-left: 80px;
}
a.bf-gs-download-btn:active {
    text-decoration: none;
}
.bf-gs-browser-chrome {
    background-position: 0 -100px;
}
.bf-gs-browser-firefox {
    background-position: 0 -200px;
}
.bf-gs-browser-ie {
    background-position: 0 -300px;
}
.bf-gs-browser-safari {
    background-position: 0 -400px;
}
.bf-gs-section .bf-gs-download-btn:hover {
    text-decoration: none;
}
.bf-gs-download-btn span {
    background: transparent url(../images/gettingstarted/download-btn-bg.png) no-repeat 100% 0;
    color: #FFF;
    display: block;
    font-size: 14px;
    height: 64px;
    line-height: 1.3;
    padding: 16px 27px 0 0;
}
.bf-gs-browser-ie span, .bf-gs-browser-safari span {
    background-position: 100% 4px;
    height: 60px;
    padding-top: 20px;
}
.bf-gs-download-btn strong {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.bf-gs-install {
    padding: 1em;
}
.bf-gs-install p.title {
    color: #333;
    font-weight: bold;
}
.bf-gs-install li,
.bf-gs-install p {
    color: #333;
}
.bf-template {
    height: 540px;
}
.bf-template-left {
    float:left;
    width: 60%;
}
.bf-template-right {
    float:right;
}

/* Fixes the double footer problem for JIRA > 6.0  */
#footer .footer-body > .footer-body.bf-footer-body {
    margin: 0;
    padding: 0;
    min-height: 0;
}
.footer-body{
    background-image: none !important;
}

.crosssale-banner{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    text-decoration: none;
}
