<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unlicensed</title>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui.min.css" media="all"></link>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui-experimental.min.css" media="all"></link>
    <link rel="stylesheet" href="{base-url}/atlassian-connect/all.css">
    <script src="{base-url}/atlassian-connect/all.js" data-options="sizeToParent:true;"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui-experimental.min.js"></script>
</head>
<body>
<div class="form-body">
    <header>
        <h3>Capture for JIRA Cloud is not licensed</h3>
    </header>
    <div class="aui-message error">
        <aui:param name="'messageHtml'">
            <span class="aui-icon icon-error"></span>
            <p>
                Your Zephyr for JIRA Cloud license seems to have expired (if this was a trial) or is invalid.<br/>
                To unlock awesome test management capabilities inside JIRA, please consider buying licenses.
                You can do this as a JIRA Administrator: click <a href='{base-url}/plugins/servlet/upm' target='_blank'>here</a>, scroll down to "Zephyr For JIRA" and click on Subscribe button <br/><br/>
                If you think you erroneously got this message, please contact <a target='_blank' href='https://support.getzephyr.com'>Zephyr Support</a>
            </p>
        </aui:param>
    </div>
</div>
</body>
</html>