<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui.min.css" media="all"></link>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui-experimental.min.css" media="all"></link>
    <link rel="stylesheet" href="{base-url}/atlassian-connect/all.css">
    <script src="{base-url}/atlassian-connect/all.js" data-options="sizeToParent:true;"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui-experimental.min.js"></script>
</head>
<body>
<div class="form-body" style="padding:10px;">
    <header>

    </header>
    <div class="aui-message error">
        <aui:param name="'messageHtml'">
            <span class="aui-icon icon-error"></span>
            <p>
                We are performing a maintenance on our Capture Cloud servers, due to an unexpected technical challenge earlier today. Our technical team is working on it currently. We will be up soon. Please refer our support page <a href="https://support.getzephyr.com/hc/en-us" target="_parent" >https://support.getzephyr.com/hc/en-us</a> for more details.
            </p>
        </aui:param>
    </div>
</div>
</body>
</html>