<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unlicensed</title>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui.min.css" media="all"></link>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui-experimental.min.css" media="all"></link>
    <link rel="stylesheet" href="{base-url}/atlassian-connect/all.css">
    <script src="{base-url}/atlassian-connect/all.js" data-options="sizeToParent:true;"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui-experimental.min.js"></script>
</head>
<body>
<div class="form-body">
    <header>

    </header>
    <div class="aui-message error">
        <aui:param name="'messageHtml'">
            <span class="aui-icon icon-error"></span>
            <p class="titile"><strong>You are not authorized to perform any operation.</strong></p>
            <p>
                We are under maintenance !!!
            </p>
        </aui:param>
    </div>
</div>
</body>
</html>