<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/gadgets/test-sessions-gadget.css}" media="all"></link>
    </head>
<body>
Coming soon..........<BR/>
dashboardView : <span th:text="${dashboardView}" /><BR/>
dashboardId : <span th:text="${dashboardId}" /><BR/>
dashboardItem : <span th:text="${dashboardItem}" /><BR/>
gadgetType : <span th:text="${gadgetType}" /><BR/>
xdm_e : <span th:text="${xdm_e}" /><BR/>
cp : <span th:text="${cp}" />


</body>
</html>