<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>General COnfiguration Pages</title>

    <link rel="stylesheet" th:href="@{css/getting-started.css}" />
</head>
<body>
<div class="bf-main-container">
    <span th:text="${generalConfigData}"></span>
</div>
<script type="text/javascript" th:inline="javascript" id="connect-loader" data-options="sizeToParent:true;">
    //<![CDATA[

    (function() {
        var getUrlParam = function (param) {
            var codedParam = (new RegExp(param + '=([^&]*)')).exec(window.location.search)[1];
            return decodeURIComponent(codedParam);
        };

        var baseUrl = getUrlParam('xdm_e') + getUrlParam('cp');
        var options = document.getElementById('connect-loader').getAttribute('data-options');

        var script = document.createElement("script");
        script.src = baseUrl + '/atlassian-connect/all.js';

        var style = document.createElement("link");
        style.rel = "stylesheet";
        style.href = baseUrl + '/atlassian-connect/all.css';
        if(options) {
            script.setAttribute('data-options', options);
        }

        document.getElementsByTagName("head")[0].appendChild(script);
        document.getElementsByTagName("head")[0].appendChild(style);
    })();

    // ]]>
</script>

</body>
</html>