<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Get Capture for JIRA Browser Extension</title>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui.min.css" media="all" />
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui-experimental.min.css" media="all" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui-experimental.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui-datepicker.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui-soy.min.js"></script>
    <script th:src="@{js/analytics/capture-analytics.js}"></script>
    <link rel="stylesheet" th:href="@{css/get-extension.css}" />
</head>
<body class="nl">
<div id="main-content" class="content-container get-bonfire-container">
    <div class="bf-gs-section">
        <div class="bf-gs-content">
            <div class="bf-gs-logo-container">
                <h2 class="capture-product-name">Capture for JIRA</h2>
            </div>

            <div class="bf-gs-feature-image">
                <img th:src="@{images/gettingstarted/bonfire-browsers.png}" th:alt="Browser " />
            </div>

            <h3>Get the Browser Extension</h3>

            <p id="capture-extension-download-message">
                Download the extension for your browser to create issues directly from any page, capture and annotate screenshots, manage test sessions and much more&hellip;
                <a class="bf-track" href="https://zephyrdocs.atlassian.net/wiki/spaces/CAPTURE/overview" th:target="_parent">Learn more</a>
            </p>

            <div class="bf-gs-download">


                <div class="bf-gs-download" th:switch="${browser}">
                    <p th:case="${'Unknown'}">Unfortunately we do not currently support your browser.</p>
                    <a th:target="_parent" th:case="${'Chrome'}" th:href="${downloadUrl}" id="capture-download-button"
                       th:class="${'bf-gs-download-btn bf-gs-browser-'+#strings.toLowerCase(browser)}"
                       th:onclick="'getBonfire(\'' + ${browser} + '\');'" >
                        <span class="bf-gs-button-right"><strong>Install Capture for JIRA</strong> at the Chrome Store</span>
                    </a>
                    <a th:target="_parent"
                       th:if="${browser != 'Chrome'}"
                       th:href="${downloadUrl}"
                       id="capture-download-button"
                       th:class="${'bf-gs-download-btn bf-gs-browser-'+#strings.toLowerCase(browser)}"
                       th:onclick="'getBonfire(\'' + ${browser} + '\');'" >
                        <span class="bf-gs-button-right"><strong>Download Capture for JIRA</strong> for <span th:text="${browser}" th:remove="tag"></span> </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments/footer :: foot"></th:block>

<script type="text/javascript" th:inline="javascript" id="connect-loader" data-options="sizeToParent:true;">
    //<![CDATA[

    (function() {
        var getUrlParam = function (param) {
            var codedParam = (new RegExp(param + '=([^&]*)')).exec(window.location.search)[1];
            return decodeURIComponent(codedParam);
        };

        var baseUrl = getUrlParam('xdm_e') + getUrlParam('cp');
        var options = document.getElementById('connect-loader').getAttribute('data-options');

        var script = document.createElement("script");
        script.src = baseUrl + '/atlassian-connect/all.js';

        var style = document.createElement("link");
        style.rel = "stylesheet";
        style.href = baseUrl + '/atlassian-connect/all.css';
        if(options) {
            script.setAttribute('data-options', options);
        }

        document.getElementsByTagName("head")[0].appendChild(script);
        document.getElementsByTagName("head")[0].appendChild(style);
    })();

    // ]]>
</script>


</body>
</html>