<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="token" th:content="${atlassianConnectToken}"/>
    <title>Session Navigator</title>

    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui.min.css" media="all"></link>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui-experimental.min.css" media="all"></link>
    <link rel="stylesheet" th:href="${captureUIBaseUrl} + '/css/SessionNavigator/SessionNavigator.css'" media="all"></link>
    <style type="text/css">
        .gdpr-banner.aui-banner.aui-banner-error:after {
          content: '' !important;
        }
        .gdpr-banner.aui-banner.aui-banner-error:before {
          width: 0 !important;
        }
        .gdpr-banner {
          background-color: rgb(255, 171, 0) !important;
          color: rgb(37, 56, 88) !important;
        }
    </style>
    <script type="text/javascript" th:src="${captureUIBaseUrl} + '/js/polyfills/polyfills.js'" />
</head>
<body>
    
    <div id="root" th:attr="data-projectkey=${projectKey}, data-projectid=${projectId}, data-pluginkey=${pluginKey}"></div>

    <script th:src="@{js/utils/i18n.js}"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/

        var i18nMessages = /*[[${messages}]]*/ 'messages';
        initI18nMessages(i18nMessages);

    /*]]>*/
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui-experimental.min.js"></script>

    <script th:src="@{js/utils/capture-utility.js}"></script>
    
    <script type="text/javascript" th:inline="javascript" id="connect-loader" data-options="sizeToParent:true;">
        //<![CDATA[

        (function() {
            var getUrlParam = function (param) {
                var codedParam = (new RegExp(param + '=([^&]*)')).exec(window.location.search)[1];
                return decodeURIComponent(codedParam);
            };

            var baseUrl = getUrlParam('xdm_e') + getUrlParam('cp');
            var options = document.getElementById('connect-loader').getAttribute('data-options');

            var script = document.createElement("script");
            script.src = baseUrl + '/atlassian-connect/all.js';

            var style = document.createElement("link");
            style.rel = "stylesheet";
            style.href = baseUrl + '/atlassian-connect/all.css';
            if(options) {
                script.setAttribute('data-options', options);
            }

            script.onload = function() {
                var appScript = document.createElement("script");
                appScript.src = /*[[${captureUIBaseUrl} + '/js/SessionNavigator/SessionNavigator.js']]*/;
                document.body.appendChild(appScript);
                 AJS.$(document).ready(function() {
                    AP.resize('100%', '800px');
                    var token = /*[[${atlassianConnectToken}]]*/;
                    ZEPHYR.CaptureUtils.gdprBannerCheck(token);
                });
            }
            document.body.appendChild(script);
            document.body.appendChild(style);

            document.getElementById('root').dataset['baseurl'] = baseUrl;
            
        })();

        // ]]>
    </script>

</body>
</html>