#* @vtlvariable name="action" type="com.atlassian.excalibur.tabpanels.TabPanelAction" *#

<div class="bonfire-tab-panel-wrapper">
    <div id="bonfire-project-tab-header">
        #if($action.feedbackEnabled)
        <a id="bonfire-feedback" class="lnk standard" href="#">$i18n.getText('bonfire.got.feedback')</a>
        #end
        #if (!$action.anonymousUserInPlay && $action.canCreateSession())
            <div id="bonfire-quicklink">
                <a id="create-test-session" class="aui-button #if ($action.noteViewSelected) no-refresh #end" ## note view does not refresh the page on session create
                   href="$requestContext.baseUrl/secure/CreateSession.jspa#if($action.project)?projectKey=${action.project.key}&projectId=${action.project.id}#end#if($action.issue)?issueId=${action.issue.id}#end">
                    <aspan class="aui-icon aui-icon-small aui-iconfont-add"></aspan>
                    $i18n.getText('greenfire.create.session.button')
                </a>
            </div>
        #end
    </div>
    <div id="bonfire-msg-area"></div>

    <div id="bonfire-project-tab-menu-holder">

        #if ($action.sessionViewSelected) <strong>Sessions</strong> #else <a href="?selectedItem=com.atlassian.bonfire.plugin:capture-test-sessions&sessionViewSelected=true"><span>Sessions</span></a> #end
        |
        #if ($action.noteViewSelected) <strong>Notes</strong> #else <a href="?selectedItem=com.atlassian.bonfire.plugin:capture-test-sessions&noteViewSelected=true"><span>Notes</span></a> #end

        <div id="session-list-operations">
            #parse("templates/excalibur/web/tabpanels/session-pagination.vm")
            #if ($action.sessionViewSelected)
                <a id="session-filter" class="sessions aui-dd-link standard #if ($action.sessionsFilterStateUI.applied)applied#end" href="#"><span>Filter#if ($action.sessionsFilterStateUI.applied) <em>(Applied)</em>&nbsp;#end</span></a>
                #parse("templates/excalibur/web/testsessions/test-session-sessions-filter.vm")
            #end
            #if ($action.noteViewSelected)
                <a id="session-filter" class="notes aui-dd-link standard #if ($action.notesFilterStateUI.applied)applied#end" href="#"><span>Filter#if ($action.notesFilterStateUI.applied) <em>(Applied)</em>&nbsp;#end</span></a>
                #parse("templates/excalibur/web/testsessions/test-session-notes-filter.vm")
            #end
        </div>

        $action.auiErrorsHTML()
    </div>


    #if ($action.sessionViewSelected)
        #parse("templates/excalibur/web/tabpanels/tabpanel-sessions.vm")
    #else
        #parse("templates/excalibur/web/tabpanels/tabpanel-notes.vm")
    #end

    #if ($pagerTool.next || $pagerTool.previous)
        <div id="session-bottom-pagination">
            #parse("templates/excalibur/web/tabpanels/session-pagination.vm")
        </div>
    #end

</div>