<div class="test-sessions">
    #if ($sessionsForProject.isEmpty())
        <div class="aui-message info">
            <p>
                <span class="aui-icon icon-info"></span>
                $action.htmlEncode($action.getNoSessionsMessage())
            </p>
        </div>
    #else
        <div class="session-results">
            #foreach ($session in $sessionsForProject)
            <div id="$session.id" class="session-container" style="background-image: url('$action.getAvatarUrl($session)');">
                #if ($session.getStatus() == "COMPLETED")
                    #set ($lozenge = "aui-lozenge-success")
                #elseif ($session.getStatus() == "PAUSED")
                    #set ($lozenge = "aui-lozenge-moved")
                #elseif ($session.getStatus() == "STARTED")
                    #set ($lozenge = "aui-lozenge-current")
                #elseif ($session.getStatus() == "CREATED")
                    #set ($lozenge = "aui-lozenge-complete")
                #else
                    #set ($lozenge = "")
                #end
                <div class="status-container tab-panel-status-container">
                    <span class="aui-lozenge $lozenge">$action.getPrettyStatus($session)</span>
                </div>

                ## TODO: need to build the link to include the avatar ref etc.
                <a class="user-hover" href="$requestContext.baseUrl/secure/ViewProfile.jspa?name=$textutils.htmlEncode($session.getSessionOwner().getName())" rel="$textutils.htmlEncode($session.getSessionOwner().getFullName())">$textutils.htmlEncode($session.getSessionOwner().getFullName())</a>
                <h4 class="session-title">
                    <a href="$requestContext.baseUrl/secure/ViewSession.jspa?testSessionId=$session.id&$action.htmlEncode($action.paramJSON)">$textutils.htmlEncode($session.getName())</a>
                    #if($session.shared)
                    <div class="status-container status-container-inline">
                        <span class="aui-lozenge">$i18n.getText('session.shared')</span>
                    </div>
                    #end
                </h4>
                <div class="session-stats">
                    <dl>
                        <dt>Created:</dt>
                        <dd class="time-started">
                            ${action.getTimeCreated($session).withZone($userTimeZone).toString("dd/MM/yy hh:mma")}
                        </dd>
                    </dl>
                    <dl>
                        #if ($action.getTimeLogged($session))
                            <dt>Spent:</dt>
                            <dd class="time-spent">
                                ${excaliburWebUtil.formatTimeSpentWJira($action.getTimeLogged($session))}
                            </dd>
                        #end
                    </dl>
                    <dl>
                        <dt>Raised:</dt>
                        <dd class="issues-total">
                          $action.getRaisedIssueCount($session) Issues
                        </dd>
                    </dl>
                </div>
            </div>
            #end
        </div>
    #end
</div>