<html>
<head>
    ## TODO change 'inline' to 'blank' when we drop 4.4
    <meta name="decorator" content="inline"/>
</head>
<body>
    ## Actual content
    <div id="main-content" class="content-container">
        <h2>Advanced Custom Fields</h2>
        <div class="aui-message error">
            <p class="title">
                <span class="aui-icon icon-error"></span>
                An error has occurred.
            </p>
            <h4>Details</h4>
            <p><ul>
                #foreach($error in ${action.getErrorCollection().getErrors()})
                    <li>$textutils.htmlEncode($error.getMessageKey())</li>
                #end
            </ul></p>
        </div>
    </div>
</body>
</html>