{namespace BF.template.about}

/**
 * Introduction used in about panel.
 */
{template .introduction}
    <p>{getText('bonfire.about.introduction.copyright')}</p>
    <p>{getText('bonfire.about.introduction.terms')}</p>
    <p>{getText('bonfire.about.introduction.apache')}</p>
{/template}

/**
 * Conclusion used in about panel.
 */
{template .conclusion}
    <p>{getText('bonfire.about.conclusion.third.parties')}</p>
    <p>{getText('bonfire.about.conclusion.details')}</p>
{/template}
